.blog-entries-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-posts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-post-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.card {
    width: 100%; 
    max-width: 100%; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: contain;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-muted {
    color: #666;
}

.button {
    background-color: #933030;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #721c1c;
}
